//normalize
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

a, button, span {
  display: inline-block
}

input, textarea {
  display: block;
  width: 100%
}

table {
  width: 100%;
  border-collapse: collapse
}

a {
  background-color: transparent;
  text-decoration: none
}

img {
  border: none;
  max-width: 100%;
  height: auto
}

a, button {
  outline: 0;
  cursor: pointer
}

li {
  list-style: none
}

button {
  background: 0 0;
  border: none
}

a, button, input, textarea {
  outline: none;
  color: $black;
  font-weight: inherit;
  -webkit-appearance: none;
  transition: all .5s ease;
}

a:hover {
  color: inherit;
}

:after, :before {
  box-sizing: border-box
}

textarea {
  resize: none;
  outline: 0;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  background: 0 0
}

input {
  outline: 0;
  -webkit-appearance: none;
  border-radius: 0;
  background: 0
}

input[type=number] {
  -moz-appearance: textfield
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none
}

input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  display: inline-block
}

input[type=search]::-webkit-search-cancel-button {
  background: 0 0;
  display: none
}

.text-align-left {
  text-align: left !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-right {
  text-align: right !important;
}

.full-img img {
  width: 100%
}

figure {
}

figcaption {
  text-align: center;
  margin-top: 15px;
  text-align: left;
  font-weight: 300;
  font-size: .8em;
  opacity: .8;
}

[hidden] {
  display: none !important
}

.img-full {
  width: 100%;
}

.img-radius {
  border-radius: 10px;
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block
  }
}

b, strong {
  font-weight: 700;
}

//title


h1, .h1 {
  margin: 0;
}

h2, .h2 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  @media (max-width: 768px) {
    font-size: 19px;
    line-height: 21px;
  }

  & a {

  }
}

h3, .h3 {
  margin: 0;
}

h4, .h4 {
  margin: 0;
}

h5, .h5 {
  margin: 0;
}

h6, .h6 {
  margin: 0;
}

//text

.text {

  & > * + * {

  }
}

a:hover {
  text-decoration: none;
}

a, input, button {
  transition: .3s;
}

button:focus {
  outline: none;
}

//body

body {
  font-family: 'Arial', sans-serif;
  color: $black;
  font-style: normal;
  font-weight: normal;
  background: $white;
  font-size: 17px;
  line-height: 24px;
  @media (max-width: 735px) {
    body {
      font-size: 14px;
    }
  }
}

.wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
}

main {
  flex: auto;
  display: block;
  padding: 20px 0 60px 0;
  background: #F4F5F6;
}


footer {
  margin: auto auto 0 auto;
  width: 100%;
}


@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1010px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}


.breadcrumb {
  margin-bottom: 25px;
  padding: 0;
  background: transparent;

  &-item {
    & a {
      font-weight: 400;
      font-size: 17px;
      line-height: 24px;
      color: #0094DF;
      padding: 5px 10px 5px 16px;
      position: relative;

      &:before {
        content: "\e901";
        display: inline-block;
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: absolute;
        left: 0;
        top: 7.5px;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &:hover {
        color: $pink;
      }

      &:active {
        opacity: .7;
      }

      &:focus {
        color: $gray;
      }

    }
  }
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}