</main>
<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__info">
                <div class="footer__heading">
                    <div class="dropdown dropdown-small dropdown-small-blue">
                        <button class="dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-expanded="false">
                            Русский
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item active" href="#">Русский</a>
                            <a class="dropdown-item" href="#">Українська</a>
                            <a class="dropdown-item" href="#">English</a>
                        </div>
                    </div>
                    <div class="footer__stores">
                        <a href="#" class="#">
                            <img src="img/icons/app-store.svg" alt="">
                        </a>
                        <a href="#" class="#">
                            <img src="img/icons/google-play.svg" alt="">
                        </a>
                    </div>
                </div>
                <ul class="list-circle">
                    <li>
                        <a href="#">
                            Услуги сайта
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Ресурсы
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Контакты
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            О нас
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Новости сайта
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Условия использования
                        </a>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn btn-outline-primary">
                Соискателю
                <span class="icon-right">

                </span>
            </a>
        </div>
        <div class="text-muted">
            © 2006–2016 Work.ua. Сайт поиска работы №1 в Украине.
        </div>
        <div class="footer__bottom">
            <div class="text-muted">
                Сделано в компании «<a href="#">Реактор</a>».
            </div>
            <ul class="list-circle">
                <li>
                    <a href="#">
                        Образование
                    </a>
                </li>
                <li>
                    <a href="#">
                        Typing tutor
                    </a>
                </li>
                <li>
                    <a href="#">
                        Тренинги
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</div>

//= sprite.html
//= modal.html

<script src="js/main.min.js"></script>

</body>
</html>