<header class="header">
    <div class="container">
        <div class="d-flex justify-content-end align-items-center mb-md-3">
            <div class="dropdown dropdown-small">
                <button class="dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-expanded="false">
                    Русский
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item active" href="#">Русский</a>
                    <a class="dropdown-item" href="#">Українська</a>
                    <a class="dropdown-item" href="#">English</a>
                </div>
            </div>
            <a href="#" class="header__link">
                Соискателю
            </a>
        </div>
        <div class="header__wrap">
            <a href="#" class="logo">
                <span class="logo-big">
                        <img src="img/icons/logo.svg" alt="">
                </span>
                <span class="logo-text">
                    Для Работодателей
                    </span>
                <span class="logo-small">
                        <img src="img/icons/logo-small.svg" alt="">
                </span>
            </a>
            <ul class="nav d-flex justify-content-end">
                <li class="nav-item">
                    <a href="#" class="nav-link" data-text="Резюме">
                            <span class="nav-icon">
                                <svg class="icon icon-search">
                                    <use xlink:href="#icon-search"></use>
                                </svg>
                            </span>
                        Найти кандидатов
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-text="Вакансия">
                            <span class="nav-icon">
                                <svg class="icon icon-add">
                                    <use xlink:href="#icon-add"></use>
                                </svg>
                            </span>
                        Создать вакансию
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-text="Реактор">
                            <span class="nav-icon">
                                <svg class="icon icon-company">
                                    <use xlink:href="#icon-company"></use>
                                </svg>
                            </span>
                        Реактор
                    </a>
                </li>
            </ul>
            <a href="#" class="header__notification">
                    <span class="header__notification_count">
                        99+
                    </span>
                <svg class="icon icon-ring">
                    <use xlink:href="#icon-ring"></use>
                </svg>
            </a>
        </div>
    </div>
</header>
<main>

